
// ------------------------
//  VERSION CONTROL SYSTEM
// ------------------------
// In case your VCS is accessible via web and the site supports searching 
// revision by filename, you can browse source code instantly by clicking
// filename link on the right column of callstack view.
//
// below pattern indicates that is being used when searching via VCS web.
// ('<keyword>' part will be replaced with filename.)
//

var g_repo_search_pattern = 'http://VERSION_CONTROL_SITE/search/<keyword>';

// ---------------
//  ISSUE TRACKER
// ---------------
// Open issue tracker page, usually create new issue, using specified uri.
// It makes you easy to register new bug for a certain crash which should be
// addressed specially.
// 
// 'name' refers just a simple text, won't use it for special behavior.
//

var g_issue_tracker_info = {
 'uri': 'http://YOUR_ISSUE_TRACKER/new/',
 'name': 'MANTIS'
}; 

