; crash report repository
report_path = C:\yourpath\crashweb\reported files\

; symbol server path
symbol_server = \\YourBuildServer\path\to\

; connection string for crashweb database
connection_string = server=Server,Port;database=CRASHWEB_DB;Uid=CrashwebUser;Password=****;

; project_uid
project_uid = 1